* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
span {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #0D1321;
}

p {
    font-size: 16px;
    line-height: 26px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* header style */
.header_area_wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header_left_item h1 {
    font-weight: 800;
    font-size: 28px;
}

.btn_download {
    border: 1px solid #0D1321;
    border-radius: 8px;
    background: transparent;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.banner_section {
    background: url(../images/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 652px;
}

.banner_content {
    text-align: center;
    max-width: 998px;
    margin: 0 auto;
    min-height: 652px;
    display: flex;
    align-items: center;
}

.banner_content img {
    width: 240px;
    margin-bottom: 32px;
}

.banner_content h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.banner_content p {
    width: 852px;
    margin: 0 auto 32px;
}

.btn_contact button {
    font-size: 20px;
    font-weight: 600;
    background-color: #0D1321;
    border: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 18px 45px;
    cursor: pointer;
}

/* web dev style */
.web_dev {
    margin-top: 74px;
    margin-bottom: 90px;
}

.web_dev_bg {
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    padding: 80px 95px;
}

.section_header {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}

.section_header h1 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.section_header p {
    margin-bottom: 50px;
    color: #545863;
}

.dev_item_style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
    border-radius: 16px;
}

.dev_item_content {
    width: 477px;
}

.dev_item_style h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    line-height: 36px;
}

.dev_item_style p {
    color: #555963;
}

.dev_item1 {

    background: linear-gradient(to right, white, transparent);
    margin-bottom: 32px;
}

.dev_item2 {
    background: linear-gradient(to left, white, transparent);
    margin-bottom: 32px;
    display: flex;
    justify-content: start;
    gap: 32px;
}

.dev_item3 {
    background: linear-gradient(to right, white, transparent);
}

.btn_learn {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #555963;
    background-color: transparent;
    padding: 15px 30px;
    color: rgba(13, 19, 33, 0.7);
    text-transform: capitalize;
    margin-top: 44px;
    cursor: pointer;
}

/* current_target */
.inspiration {
    margin-bottom: 150px;
}

.video_section {
    border: 32px solid #fff;
    border-radius: 16px;
    box-shadow: 0 0 1px 1px rgba(13, 19, 33, 0.2);
}

.video_size {
    width: 100%;
    height: 615px;
    border-radius: 16px;
}

/* current_target */
.current_target{
    margin-bottom: 100px;
}
.current_target_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.current_target_card{
    padding: 40px;
    border-radius: 16px;
}

.current_target_card img{
    width: 56px;
    height: 56px;
    margin-bottom: 24px;
}

.current_target_card h3{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.current_target_card p{
    margin-bottom: 24px;
}

.current_target_card a{
    color: #0D1321;
    font-weight: bold;
    text-transform: capitalize;
}

.card_1{
    background-color: rgba(255, 76, 30, 0.05);
    width: 33.33%;
}
.card_2{
    background-color: rgba(0, 76, 232, 0.05);
    width: 33.33%;
}
.card_3{
    background-color: rgba(255, 223, 0, 0.05);
    width: 33.33%;
}

/* next_target */
.next_target{
    margin-bottom: 50px;
}

.next_target_wrapper{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 40px;
    box-shadow: 0 0 1px 1px rgba(13, 19, 33, 0.15);
    margin-bottom: 24px;
    border-radius: 16px;
}
.next_target_wrapper:last-child{
    margin-bottom: 0;
}
.nxt_trg_right_item h3{
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}
.nxt_trg_right_item p{
    margin-bottom: 24px;
}

.nxt_trg_right_item a{
   font-weight: bold;
   text-transform: capitalize;
   color: #0D1321;
}

.nxt_trg_left_item img{
    width: 100px;
}

/* support form */
.support_bg{
    background: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 40%)), url(../images/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 64px 0;
    text-align: center;
    margin-bottom: 80px;
    border-radius: 16px;
}

.support_header h1{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
}
.support_header p{
    color: #D4D0CC;
    width: 600px;
    margin: auto;
    margin-bottom: 24px;
}

.submit_form{
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.submit_form input{
    display: block;
    border: none;
    border-radius: 8px;
    padding: 18px;
    background-color: #fff;
    font-family: "Azeret Mono", monospace;
}

.submit_form input:focus{
    outline: none;
}

.submit_form input::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
}

.submit_form input[type=text]{
    width: 80%;
}

.submit_form input[type=submit]{
    background-color: #fff;
    width: 20%;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* footer style */
footer{
    background-color: rgba(13, 19, 33, 0.03);
    padding: 32px;
}
.footer_content_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_left_itme p{
    font-size: 20px;
    font-weight: 600;
}


.footer_right_item ul{
    display: flex;
    gap: 24px;
}
.footer_right_item ul li{
    list-style: none;
    width: 36px;
    height: 36px;
}

@media (max-width:1440px) {
    .header_area_wrapper {
        width: 1140px;
    }
}